Source: pam-autologin
Section: admin
Priority: optional
Maintainer: Juanma1980 <juanma1980@gmail.com>
Uploaders: LliureX Team
Build-Depends: debhelper (>= 7.0)
Standards-Version: 4.4.1
Homepage: https://github.com/msharov/pam_autologin

Package: pam-autologin
Architecture: all
Depends: ${python3:Depends},libpam0g
Description: This module logs in automatically with saved username and password.
 Because this allows a normal login process, 
 the saved password can be used to unlock encrypted files at login, 
 such as ssh keys, gpg keys, gnome-keyring, 
 or an encrypted home directory
